html {
    margin-left: 40px;
    margin-right: 40px;
}

header .navigation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: -50px;
}

header .navigation img{
    margin-top: -10px;
    margin-right: -60px;
}

header .navigation a {
    text-decoration: none;
    color: darkgrey;
}

header .navigation a:hover {
    color: blue;
    animation-name: an1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes an1 {
    from{color: blue;}
    to{color: red;}
}

header .imageContainer {
    display: flex;
    align-content: space-around;
    margin: 10px;
}

header .imageContainer img {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.topContent {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 60px;
}

.topContent .leftSide {
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 40px;
    background-color: lightgrey;
    padding-left: 20px;
    padding-right: 20px;
}

.topContent .rightSide {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    text-align: center;
}